{
  "extends": ["standard"],
  "parser": "@babel/eslint-parser",
  "env": {
    "node": true,
    "browser": true,
    "jest": true
  },
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "semi": ["error", "never"],
    "prefer-destructuring":"error",
    "max-len": [
      "warn",
      {
        "code": 100,
        "ignoreUrls": true,
        "ignorePattern": "import"
      }
    ],
    "no-unused-vars": "warn",
    "operator-linebreak": "warn",
    "comma-dangle": [
      2,
      "always-multiline"
    ],
    "prefer-const": [
      "error",
      {
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
      }
    ]
  }
}
